@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("./assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    color: #f8f8f8;
    font-family: 'Yusei Magic', sans-serif;
}

@media only screen and ( max-width:600px ) {
    
    body {
        background-size: auto;
        height: auto;
        padding-bottom: 40px;
    }

}